<template name="claims">
    <ul>
        {{#each unmoderated scavenges}}
        <div class="scavengeClaim" data ="{{_id}}">
            <h1> {{description}} ({{points}})</h1>
            {{#each outstanding claims}}
            <div class="claim">
                {{claimer}} has claimed they have completed this!</br>
                <input type='button' class='accept' value='They have!' data="{{claimer}}"/>
                <input type='button' class='reject' value='They are lying!' data="{{claimer}}"/>
            </div>
            {{/each}}
            {{/each}}
    </ul>
</template>